body{
    background-color: rgb(242, 43, 202);
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}